
h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-image:url('bg1.jpg') ;
	background-size: cover;
	background-position: center;
}

#can{
	background-color:rgb(47, 105, 122);
	border-width:10px ;
	border-color:chartreuse;
	border-style:ridge;
	
}

